/* Color scheme stolen from Sergey Karayev */
a {
color: #1772d0;
text-decoration:none;
}
a:focus, a:hover {
color: #f09228;
text-decoration:none;
}
body,td,th,tr,p,a {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 14px
}
.all{
  width:100%;
  max-width:900px;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  margin-right:auto;
  margin-left:auto;
  padding-left:140px;
}
.research{
  background-color:#EFEFEF;
}
li {
  margin: 8px;
  list-style-position: inside;
  text-indent: -20px;
  padding-left: 1em;
}
ul {
  padding-inline-start: 0px;
}
strong {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 14px;
}
heading {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 22px;
}
papertitle {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 14px;
font-weight: 700
}
name {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
font-size: 32px;
}
a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
.hero-left
{
  width: 67%;
}
.hero-right
{
  width: 33%;
}
.hero-top {
  display: none;
  width: 100%;
}
.hero-top img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.one
{
width: 160px;
height: 160px;
position: relative;
}
.two
{
width: 160px;
height: 160px;
position: absolute;
transition: opacity .2s ease-in-out;
-moz-transition: opacity .2s ease-in-out;
-webkit-transition: opacity .2s ease-in-out;
}
.fade {
 transition: opacity .2s ease-in-out;
 -moz-transition: opacity .2s ease-in-out;
 -webkit-transition: opacity .2s ease-in-out;
}
span.highlight {
    background-color: #ffffd0;
}

.sidenav {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.sidenav a {
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  color: #f2f2f2;
  display: block;
}

.sidenav chinesename {
margin-top: 16px;
margin-bottom: 32px;
font-family: 'HYZhuanShuF';
font-size: 32px;
font-weight: normal;
font-style: normal;
display: block;
color: #f2f2f2;
}

.sidenav a:focus, a:hover {
  color: #f09228;
  text-decoration: underline;
}

.sidenav p {
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 8px;
  color: #f1f1f1;
  margin-left:15px;
  display: flex;
}

.sidenav i {
  text-align: center;
  font-size: 17px;
  margin-left: 1px
}

.sidenav b:focus, b:hover {
  color: #f09228;
  text-decoration:none;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.topnav chinesename {
  padding: 14px 10px;
  font-family: 'HYZhuanShuF';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #f2f2f2;
  float: left;
  }

.topnav img {
  padding: 12px 0px 12px 7px;
  float: left;
}

.topnav a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  color: #f2f2f2;
  padding: 14px 10px;
}

.topnav a:focus, a:hover {
  color: #f09228;
  text-decoration: underline;
}

.main {
  margin-left: 140px; /* Same as the width of the sidenav */
  /*font-size: 28px; *//* Increased text to enable scrolling */
  /*padding: 0px 10px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media only screen and (max-width: 800px) {
  .all{
    padding-left:0px;
    padding-top:50px;
  }
  .sidenav {
    display: none;
  }
  .topnav {
    display: block;
  }
  .researchblock td{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  body,td,th,tr,p,a,papertitle,strong {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 12px;
  }
  heading {
    font-size: 24px;
  }
  name {
    font-size: 28px;
  }
  .hero-left
  {
    width: 100%;
  }
  .hero-right
  {
    width: 0%;
    display: none;
  }
  .hero-top
  {
    display: block;
  }
  .researchblock td{
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 450px) {
  .topnav chinesename {
    display: none;
  }
}

@media only screen and (max-width: 370px) {
  .topnav {
    display: none;
  }
  .all{
    padding-top:5px;
  }
}

/* @media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx),
only screen and (max-width: 600px) { 
  body,td,th,tr,p,a,papertitle,strong {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 10px;
  }
  heading {
    font-size: 18px;
  }
  name {
    font-size: 24px;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (   min--moz-device-pixel-ratio: 3),
only screen and (     -o-min-device-pixel-ratio: 3/1),
only screen and (        min-device-pixel-ratio: 3),
only screen and (                min-resolution: 288dpi),
only screen and (                min-resolution: 2dppx),
only screen and (max-width: 600px) { 
  body,td,th,tr,p,a,papertitle,strong {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 10px;
  }
  heading {
    font-size: 18px;
  }
  name {
    font-size: 24px;
  }
} */
